### Import libiries and Input File.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
df= pd.read_csv('D:\Indian Peterolium Stocks Analysis Project\Output File\CSV file\Indian Petroleum Stocks Combined.csv')
df= pd.read_csv('D:\Indian Peterolium Stocks Analysis Project\Output File\CSV file\Indian Petroleum Stocks Combined.csv')

### Basic Inspection.

In [2]:
df.head()
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 31 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   companies                 60 non-null     object
 1   year                      60 non-null     int64
 2   open_price                60 non-null     float64
 3   high_price                60 non-null     float64
 4   low_price                 60 non-null     float64
 5   close_price               60 non-null     float64
 6   no_of_shares              60 non-null     int64
 7   no_of_trades              60 non-null     int64
 8   total_turnover_(Rs)       60 non-null     int64
 9   deliverable_quantity      60 non-null     int64
 10  %_deli_qty_to_traded_qty  60 non-null     float64
 11  spread_(high-low)         60 non-null     float64
 12  spread_(close-open)       60 non-null     float64
 13  sales                     60 non-null     float64
 14  expenses                  60 non-null     float64
 15  operating_profit          60 non-null     float64
 16  net_profit                60 non-null     float64
 17  eps                       60 non-null     float64
 18  price                     60 non-null     float64
 19  opm                       60 non-null     float64
 20  equity_share_capital      60 non-null     float64
 21  pe_ratio                  60 non-null     float64
 22  outstanding_shares        60 non-null     float64
 23  market_cap                60 non-null     float64
 24  sales_growth_%            53 non-null     float64
 25  net_profit_growth_%       53 non-null     float64
 26  eps_growth_%              53 non-null     float64
 27  market_cap_growth_%       53 non-null     float64
 28  operating_margin_%        60 non-null     float64
 29  cagr_close_price          59 non-null     float64
 30  sector                    60 non-null     object
dtypes: float64(24), int64(5), object(2)
memory usage: 14.7+ KB

,year,open_price,high_price,low_price,close_price,no_of_shares,no_of_trades,total_turnover_(Rs),deliverable_quantity,%_deli_qty_to_traded_qty,...,equity_share_capital,pe_ratio,outstanding_shares,market_cap,sales_growth_%,net_profit_growth_%,eps_growth_%,market_cap_growth_%,operating_margin_%,cagr_close_price
count,60.00000,60.000000,60.000000,60.000000,60.000000,6.000000e+01,6.000000e+01,6.000000e+01,6.000000e+01,60.000000,...,60.000000,60.000000,6.000000e+01,6.000000e+01,53.000000,53.000000,53.000000,53.000000,60.000000,59.000000
mean,2020.50000,524.703333,688.311667,393.868667,513.020000,1.526527e+08,1.796809e+06,8.762512e+10,7.797529e+07,43.691167,...,7087.457000,8.792807,7.087457e+09,4.098350e+12,15.865637,-14.536726,-13.689402,49.292976,14.594255,-0.009113
std,2.89652,588.851858,750.541791,472.545464,598.985841,1.854158e+08,1.486797e+06,2.257951e+11,1.603427e+08,12.114519,...,8887.908739,14.392104,8.887909e+09,1.062848e+13,27.458287,400.728453,401.093072,91.399580,11.531731,0.039563
min,2016.00000,77.000000,128.250000,51.800000,76.500000,1.167730e+07,1.863200e+05,2.376028e+09,4.343941e+06,22.260000,...,339.010000,-86.057831,3.390100e+08,3.956247e+10,-24.766953,-2522.712005,-2522.712005,-57.245696,0.000000,-0.073637
25%,2018.00000,187.612500,212.675000,138.425000,172.075000,5.624544e+07,8.727520e+05,2.062670e+10,2.267500e+07,35.552500,...,1418.940000,5.698706,1.418940e+09,2.504545e+11,-2.594101,-27.735760,-27.735760,-8.084313,5.763514,-0.043043
50%,2020.50000,346.650000,426.525000,223.325000,328.100000,9.607718e+07,1.344236e+06,3.027062e+10,4.707682e+07,42.660000,...,3321.125000,8.689575,3.321125e+09,5.863599e+11,11.508788,0.524458,0.188222,43.698961,11.457951,0.004659
75%,2023.00000,466.687500,672.312500,341.387500,450.575000,1.604628e+08,2.189656e+06,4.892638e+10,8.123371e+07,50.345000,...,9181.040000,11.271313,9.181040e+09,1.152427e+12,28.816340,38.666096,40.958117,77.457795,17.401315,0.024501
max,2025.00000,2581.050000,3217.900000,2181.000000,2584.850000,1.295488e+09,8.196471e+06,1.655557e+12,1.232873e+09,95.170000,...,42121.000000,35.047173,4.212100e+10,5.370849e+13,127.761916,1160.357101,1160.357101,500.116766,42.276168,0.041397

### Check Data Quality.

In [3]:
df.isnull().sum()
df.duplicated().sum()

np.int64(0)

### Understanding Structure

In [4]:
df['companies'].nunique()
df['year'].min(), df['year'].max()
df.columns

Index(['companies', 'year', 'open_price', 'high_price', 'low_price',
       'close_price', 'no_of_shares', 'no_of_trades', 'total_turnover_(Rs)',
       'deliverable_quantity', '%_deli_qty_to_traded_qty', 'spread_(high-low)',
       'spread_(close-open)', 'sales', 'expenses', 'operating_profit',
       'net_profit', 'eps', 'price', 'opm', 'equity_share_capital', 'pe_ratio',
       'outstanding_shares', 'market_cap', 'sales_growth_%',
       'net_profit_growth_%', 'eps_growth_%', 'market_cap_growth_%',
       'operating_margin_%', 'cagr_close_price', 'sector'],
      dtype='object')

### Segmentation

In [5]:
df.groupby('companies').size()

companies
Bharat Petroleum Corporation Limited        10
Hindusthan Petroleum Corporation Limited    10
Indian Oil Corporation Limited              10
Oil India Limited                           10
Oil and Natural Gas Corporation             10
Reliance Industry Limited                   10
dtype: int64

### 1️⃣ Which company has the highest average closing price?

In [6]:
df.groupby('companies')['close_price'].mean().sort_values(ascending=False)

companies
Reliance Industry Limited                   1689.360
Bharat Petroleum Corporation Limited         421.220
Hindusthan Petroleum Corporation Limited     338.770
Oil India Limited                            287.255
Oil and Natural Gas Corporation              172.955
Indian Oil Corporation Limited               168.560
Name: close_price, dtype: float64

### 2️⃣ Which company shows the highest price volatility?

In [7]:
df.groupby('companies')['spread_(high-low)'].mean()

companies
Bharat Petroleum Corporation Limited        269.895
Hindusthan Petroleum Corporation Limited    266.330
Indian Oil Corporation Limited              127.153
Oil India Limited                           182.285
Oil and Natural Gas Corporation              84.810
Reliance Industry Limited                   836.185
Name: spread_(high-low), dtype: float64

### 3️⃣ How has stock price trended over time for each company?

In [8]:
df.pivot(index='year', columns='companies', values='close_price')

companies,Bharat Petroleum Corporation Limited,Hindusthan Petroleum Corporation Limited,Indian Oil Corporation Limited,Oil India Limited,Oil and Natural Gas Corporation,Reliance Industry Limited
year,,,,,,
2016,634.55,441.20,325.65,450.65,191.45,1080.10
2017,518.70,416.30,388.40,372.20,194.65,921.05
2018,362.75,253.25,137.10,174.90,150.20,1121.05
2019,491.50,264.45,125.65,153.05,128.75,1514.10
2020,380.95,217.90,90.95,107.40,93.20,1984.65
2021,385.50,292.00,111.55,198.65,142.35,2368.15
2022,330.55,235.05,76.50,208.05,146.80,2548.20
2023,450.55,398.75,129.80,372.35,205.05,2584.85
2024,292.35,408.75,136.40,430.85,239.05,1215.45
2025,364.80,460.05,163.60,404.45,238.05,1556.00

### 4️⃣ Which year had the highest trading activity (turnover)?

In [9]:
df.groupby('year')['total_turnover_(Rs)'].sum()

year
2016     222132540919
2017    1792978447691
2018     279498115786
2019     275887828187
2020     683608562780
2021     454805162915
2022     356165995220
2023     314509370217
2024     526554859926
2025     351366235898
Name: total_turnover_(Rs), dtype: int64

### 5️⃣ Which company has the highest liquidity?

In [10]:
df.groupby('companies')['total_turnover_(Rs)'].mean()

companies
Bharat Petroleum Corporation Limited        3.431691e+10
Hindusthan Petroleum Corporation Limited    2.632944e+10
Indian Oil Corporation Limited              3.510097e+10
Oil India Limited                           1.083583e+10
Oil and Natural Gas Corporation             3.480286e+10
Reliance Industry Limited                   3.843647e+11
Name: total_turnover_(Rs), dtype: float64

### 6️⃣ How does delivery percentage vary across companies?

In [11]:
df.groupby('companies')['%_deli_qty_to_traded_qty'].mean()

companies
Bharat Petroleum Corporation Limited        41.825
Hindusthan Petroleum Corporation Limited    34.920
Indian Oil Corporation Limited              44.241
Oil India Limited                           40.745
Oil and Natural Gas Corporation             42.726
Reliance Industry Limited                   57.690
Name: %_deli_qty_to_traded_qty, dtype: float64

### 7️⃣ Which company has the highest average sales?

In [12]:
df.groupby('companies')['sales'].mean()

companies
Bharat Petroleum Corporation Limited        314626.182
Hindusthan Petroleum Corporation Limited    302132.871
Indian Oil Corporation Limited              546432.053
Oil India Limited                            20553.678
Oil and Natural Gas Corporation             418863.200
Reliance Industry Limited                   603161.300
Name: sales, dtype: float64

### 8️⃣ How have sales grown over time?

In [13]:
df.groupby('year')['sales'].sum()

year
2016    1118209.40
2017    1340149.02
2018    1601123.31
2019    2105615.11
2020    2049445.82
2021    1615140.89
2022    2497850.29
2023    3300423.94
2024    3190662.69
2025    3239072.37
Name: sales, dtype: float64

### 9️⃣ Which company is most profitable?

In [14]:
df.groupby('companies')['net_profit'].mean()

companies
Bharat Petroleum Corporation Limited        10684.902
Hindusthan Petroleum Corporation Limited     6318.535
Indian Oil Corporation Limited              18240.504
Oil India Limited                            4511.374
Oil and Natural Gas Corporation             28338.657
Reliance Industry Limited                   49046.700
Name: net_profit, dtype: float64

### 🔟 Expense-to-sales ratio comparison

In [15]:
df['expense_ratio'] = df['expenses'] / df['sales'] * 100
df.groupby('companies')['expense_ratio'].mean()

companies
Bharat Petroleum Corporation Limited        93.897724
Hindusthan Petroleum Corporation Limited    96.077088
Indian Oil Corporation Limited              92.692541
Oil India Limited                           63.535268
Oil and Natural Gas Corporation             82.522608
Reliance Industry Limited                   83.872771
Name: expense_ratio, dtype: float64

### 1️⃣1️⃣ How stable are operating profits over years?

In [16]:

df.groupby('companies')['operating_profit'].sum()

companies
Bharat Petroleum Corporation Limited        186679.50
Hindusthan Petroleum Corporation Limited    107197.67
Indian Oil Corporation Limited              379222.66
Oil India Limited                            76645.17
Oil and Natural Gas Corporation             671869.11
Reliance Industry Limited                   985704.00
Name: operating_profit, dtype: float64

### 1️⃣2️⃣ Which company has the largest market capitalization?

In [17]:
df.groupby('companies')['market_cap'].mean()

companies
Bharat Petroleum Corporation Limited        4.536149e+11
Hindusthan Petroleum Corporation Limited    3.031697e+11
Indian Oil Corporation Limited              9.811179e+11
Oil India Limited                           1.990659e+11
Oil and Natural Gas Corporation             1.023244e+12
Reliance Industry Limited                   2.162989e+13
Name: market_cap, dtype: float64

### 1️⃣3️⃣ How has market cap evolved over time?

In [18]:
df.groupby('year')['market_cap'].sum()

year
2016    2.027368e+12
2017    4.892750e+12
2018    1.017768e+13
2019    2.145313e+13
2020    1.144102e+13
2021    1.943805e+13
2022    3.113795e+13
2023    3.321234e+13
2024    5.251806e+13
2025    5.960266e+13
Name: market_cap, dtype: float64

### 1️⃣4️⃣ Which company has the lowest average P/E ratio?

In [19]:
df.groupby('companies', as_index=False)['pe_ratio'].mean()

                                  companies   pe_ratio
0      Bharat Petroleum Corporation Limited  12.409383
1  Hindusthan Petroleum Corporation Limited   5.613591
2            Indian Oil Corporation Limited  -1.345908
3                         Oil India Limited   7.427975
4           Oil and Natural Gas Corporation   8.199424
5                 Reliance Industry Limited  20.452378

### 1️⃣5️⃣ Relationship between EPS and Price.

In [20]:
df[['eps','price']].corr()

            eps     price
eps    1.000000  0.515353
price  0.515353  1.000000

### 1️⃣6️⃣ Which company has the highest sales growth?

In [21]:
df.groupby('companies')['sales_growth_%'].mean()

companies
Bharat Petroleum Corporation Limited        12.501001
Hindusthan Petroleum Corporation Limited    11.865615
Indian Oil Corporation Limited              12.008173
Oil India Limited                           15.772147
Oil and Natural Gas Corporation             25.622252
Reliance Industry Limited                   17.050782
Name: sales_growth_%, dtype: float64

### 1️⃣7️⃣ Which company has the best profit growth?

In [22]:
df.groupby('companies')['net_profit_growth_%'].mean()

companies
Bharat Petroleum Corporation Limited        169.831980
Hindusthan Petroleum Corporation Limited    -34.956787
Indian Oil Corporation Limited             -262.098895
Oil India Limited                            19.699738
Oil and Natural Gas Corporation              30.454075
Reliance Industry Limited                    10.334946
Name: net_profit_growth_%, dtype: float64

### 1️⃣8️⃣ EPS growth comparison

In [23]:
df.groupby('companies')['eps_growth_%'].mean()

companies
Bharat Petroleum Corporation Limited        169.831980
Hindusthan Petroleum Corporation Limited    -32.661674
Indian Oil Corporation Limited             -261.823938
Oil India Limited                            21.443001
Oil and Natural Gas Corporation              30.762721
Reliance Industry Limited                    10.702762
Name: eps_growth_%, dtype: float64

### 1️⃣9️⃣ Operating margin trend analysis

In [24]:
df.groupby('companies')['operating_margin_%'].mean()

companies
Bharat Petroleum Corporation Limited         6.102276
Hindusthan Petroleum Corporation Limited     4.086445
Indian Oil Corporation Limited               7.307459
Oil India Limited                           36.464732
Oil and Natural Gas Corporation             17.477392
Reliance Industry Limited                   16.127229
Name: operating_margin_%, dtype: float64

### 2️⃣0️⃣ Impact of COVID (pre vs post 2020)

In [25]:
df['period'] = df['year'].apply(lambda x: 'Pre-COVID' if x < 2020 else 'Post-COVID')

df.groupby(['companies','period'])['net_profit'].mean()

companies                                 period
Bharat Petroleum Corporation Limited      Post-COVID    12204.713333
                                          Pre-COVID      8405.185000
Hindusthan Petroleum Corporation Limited  Post-COVID     6060.988333
                                          Pre-COVID      6704.855000
Indian Oil Corporation Limited            Post-COVID    18494.491667
                                          Pre-COVID     17859.522500
Oil India Limited                         Post-COVID     5910.866667
                                          Pre-COVID      2412.135000
Oil and Natural Gas Corporation           Post-COVID    32240.023333
                                          Pre-COVID     22486.607500
Reliance Industry Limited                 Post-COVID    59193.000000
                                          Pre-COVID     33827.250000
Name: net_profit, dtype: float64